{% extends "layout/base.html" %}

{% block content %}
  <div class="subnav">
    <div class="container">
      <div class="float-end mt-2">
        <h2>฿{{ video.price }}</h2>
      </div>
      <h1>{{ video.name }}</h1>
      <a href="{% url 'video:index' %}"class='text-white'><i class="fa fa-chevron-left"></i>ย้อนกลับ</a>
    </div>
  </div>
  <div class="container mt-3">
    <div class="row g-5">
      <div class="col-lg-8">
        <div class=" mb-4">
          {% if video.videoexample %}
        <video id="videoplayer" controls width="550" height="400">
          <source src="http://192.168.1.5:5000{{video.videoexample.url}}" type="video/mp4" >
          Your browser does not support HTML5 video.
        </video>
        {% endif %}
          </a>
        </div>

        {% regroup video.get_chapter_set_with_ordered by chapter as chapter_list %}

        <div class="row g-5">
          <div class="col-lg-8">
            <div class="accordion mb-5" id="accordionExample">
              {% for chapter in chapter_list %}
                <div class="card">
                  <div class="card-header" id="heading{{ forloop.counter }}">

                      <button class="btn " type="button" data-toggle="collapse" data-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                        {{ chapter.grouper }}
                      </button>

                  </div>

                  <div id="collapse{{ forloop.counter }}" class="collapse" aria-labelledby="heading{{ forloop.counter }}" data-parent="#accordionExample">
                    <div class="card-body">
                      <table class="table table-bordered table-hover">
                        <tbody>
                          {% for lesson in chapter.list %}
                            <tr>
                              <td>{{ lesson.name }}</td>
                              <td><i class="far fa-clock"></i> {{ lesson.duration_time }}</td>
                              {% if lesson.lessonvideo %}
                              {% if lesson.is_locked == False %}
                                <td><button videourl='http://192.168.1.5:5000{{lesson.lessonvideo.url}}' class="btn-play"><i class="far fa-circle-play"></i>videoplay</button></td>
                              {% elif lesson.is_locked == True %}
                                <td><i class="fa fa-lock"></i></td>
                              {% endif %}
                              {% endif %}
                            </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
      </div>
    </div>

      </div>
      <div class="col-lg-4">
        <a href="#" class="btn btn-success btn-lg py-3 w-100">Enroll</a>
        <div class="my-5">
          <h4>รายละเอียด</h4>
          {{ video.description }}
        </div>
        <div class="my-5">
          <h4>เกี่ยวกับผู้สอน</h4>
          <div class="profile">
            <img src="{{video.member.Profile_image.url}}" style="width: 100px; border-radius: 50%;" alt="">
            <div class="mt-3 ">{{video.member.user.first_name}} {{video.member.user.last_name}} ( {{video.member.user_code}} )</div>
            <div class="mt2 ">{{video.member.description}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
