

{% extends "layout/base.html" %}


{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <h3 style="text-align: center;"><b>จัดการโปรไฟล์</b></h3>


            <div class="manageprofile_img" style="text-align: center;" >
                {% if member_list.Profile_image %}
                <img src="{{member_list.Profile_image.url}}" alt="" >
                {% endif %}
            </div>


            <form method="post" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <table border="1">
                {{form.as_table}}
                <tr>
                    <th>
                        ชื่อจริง :
                    </th>
                    <td>
                        <input type="text" value="{{ profile.user.first_name }}" name="firstname">
                    </td>
                </tr>
                <tr>
                    <th>
                        นามสกุล :
                    </th>
                    <td>
                        <input type="text" value="{{ profile.user.last_name }}" name="lastname">
                    </td>
                </tr>
                </table>
                <button type="submit" class="btn btn-success">บันทึก</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
